body
{
background-color:#005582;
font-family: cursive;
color:black; 
text-align: left;
margin-top: 20px ;
padding: 60px
}
#HOME11111
{
color:#daf8e3;
font-size: 65px;
}
h1
{
background-color:#97ebdb;
color: 000#;
}
a:link, a:visited 
{
background-color:#00c2c7;
color:whitesmoke; 
padding: 10px 20px; 
text-decoration: none; 
display:block; 
font-size: 20px;
}  
a:hover, a:active 
{ 
background-color:whitesmoke; 
letter-spacing: 4px; 
color:black;
border-color: #daf8e3; border-style: double; padding: 15px; border-radius:1px;
animation: shake 0.5s;
animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); } 
}
#h1TEXTBLACK
{
    color: black
}  
#WC2P
{
    width: 300px;
    height: 300px;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}
#WC2P:hover {
    width: 500px;
    height: 500px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #daf8e3; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00c2c7; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #292929;
}
#www
{
    color: #daf8e3;
    background-color:#daf8e3;
}
.glow {
    font-size: 80px;
    color: red;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black;
    }
    
    to {
      text-shadow: 0 0 20px red, 0 0 30px red4da6, 0 0 40px red4da6, 0 0 50px red4da6, 0 0 60px red4da6, 0 0 70px red4da6, 0 0 80px red4da6;
    }
  }